$newP1:4px 8px,5px 10px;
$newM1:0px 10px,0px 15px;
@mixin btnStyle($pp,$begin,$end,$si,$so,$st,$fc,$mm){
    padding:$pp;
    background: -moz-linear-gradient(top, $begin 0%, $end 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$begin), color-stop(100%,$end));
    background: -webkit-linear-gradient(top, $begin 0%,$end 100%);
    background: -o-linear-gradient(top, $begin 0%,$end 100%);
    background: -ms-linear-gradient(top, $begin 0%,$end 100%);
    border:$si $so $st;
    color:$fc;
    margin:$mm;
    cursor: pointer;
}