/* 改变主题色变量 */
$--color-primary: #F2B672;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-input__inner {
  height: 12vw;
  line-height: 12vw;
  background-image: linear-gradient(-180deg, #292D34 0%, #1E2126 100%);
  border-radius:0.53vw;
  border: none;
  outline: none;
  color: #fff;
  background-color:#1f1e1f !important;
}
.el-input{
  height:100%;
}
.el-input.is-disabled .el-input__inner{
  color:#fff;
}
.el-table{
  tr{
    background-color:#282527;
  }
  tr,th,td{
    border:none;
  }
  .el-table__empty-text{
    color: #9c9ea2;
    font-size:4.27vw;
    position: fixed;
    left:50%;
    margin-left:-25%;
  }
  .el-table__empty-block{
    background:#1f1e1f;
  }
}
.el-table--group::after, .el-table--border::after, .el-table::before{
  height:0;
}
.el-input__icon {
  line-height: 12vw;
}

// 个人中心 historyRecord
.historyRecord, .refundView {

  .el-date-editor {

    // date-picker 设置空头部图标 
    .el-input__prefix {
      display: none;
    }

    // date-picker 文字居中
    // 背景色调整
    .el-input__inner {
      // background: #1E2126;
      height: 100%;
      line-height: 100%;
      border-radius:0.53vw;
      text-align: center;
    }
  }
}

// 分页
.el-pagination {
  
  font-size: 4vw;
  color: #ababab;

  button {
    background-color: transparent;
    cursor: not-allowed;
    color: #F2B672;

    &:disabled {
      background-color: transparent;
      cursor: not-allowed;
      color: #F2B672;
    }
  }

  .btn-prev {
    padding-right: 0;
    background-color: transparent;
    color: #F2B672;
  }

  .btn-next {
    padding-left: 0;
    background-color: transparent;
    color: #F2B672;
  }
}

.el-pagination span:not([class*=suffix]),
.el-pagination button {
  
  font-size: 4vw;
}
.el-pagination{
  white-space:pre-wrap !important;
}
.el-pagination .num {
  color: #fff;
  min-width: auto !important;
}

.el-pager {
  li {
    background: transparent;
  }
}
