/*雷达*/
@keyframes radar
{
0% {opacity:0;transform:scale(0);}
25% {opacity:0.5;transform:scale(0);}
50% {opacity:1;transform:scale(1);}
75% {opacity:0.5;transform:scale(1.5);}
100% {opacity:0;transform:scale(2);}
}
@-moz-keyframes radar /* Firefox */
{
0% {opacity:0;transform:scale(0);}
25% {opacity:0.5;transform:scale(0);}
50% {opacity:1;transform:scale(1);}
75% {opacity:0.5;transform:scale(1.5);}
100% {opacity:0;transform:scale(2);}
}
@-webkit-keyframes radar /* Safari and Chrome */
{
0% {opacity:0;transform:scale(0);}
25% {opacity:0.5;transform:scale(0);}
50% {opacity:1;transform:scale(1);}
75% {opacity:0.5;transform:scale(1.5);}
100% {opacity:0;transform:scale(2);}
}
@-o-keyframes radar /* Opera */
{
0% {opacity:0;transform:scale(0);}
25% {opacity:0.5;transform:scale(0);}
50% {opacity:1;transform:scale(1);}
75% {opacity:0.5;transform:scale(1.5);}
100% {opacity:0;transform:scale(2);}
}
/* 从上渐入 */
@keyframes from_top
{
0% {opacity:0;transform:translateY(-50%);}
70% {opacity:1;transform:translateY(5%);}
100% {opacity:1;transform:translateY(0%);}
}
@-moz-keyframes from_top /* Firefox */
{
0% {opacity:0;transform:translateY(-50%);}
70% {opacity:1;transform:translateY(5%);}
100% {opacity:1;transform:translateY(0%);}
}
@-webkit-keyframes from_top /* Safari and Chrome */
{
0% {opacity:0;transform:translateY(-50%);}
70% {opacity:1;transform:translateY(5%);}
100% {opacity:1;transform:translateY(0%);}
}
@-o-keyframes from_top /* Opera */
{
0% {opacity:0;transform:translateY(-50%);}
70% {opacity:1;transform:translateY(5%);}
100% {opacity:1;transform:translateY(0%);}
}

/* 从左减出 */
@keyframes from_left
{
0% {display:block;opacity:1;transform:translateX(0%);}
95% {display:block;opacity:0;transform:translateX(-20%);}
100% {display:none;opacity:0;transform:translateX(0%);}
}
@-moz-keyframes from_left /* Firefox */
{
0% {display:block;opacity:1;transform:translateX(0%);}
95% {display:block;opacity:0;transform:translateX(-20%);}
100% {display:none;opacity:0;transform:translateX(0%);}
}
@-webkit-keyframes from_left /* Safari and Chrome */
{
0% {display:block;opacity:1;transform:translateX(0%);}
95% {display:block;opacity:0;transform:translateX(-20%);}
100% {display:none;opacity:0;transform:translateX(0%);}
}
@-o-keyframes from_left /* Opera */
{
0% {display:block;opacity:1;transform:translateX(0%);}
95% {display:block;opacity:0;transform:translateX(-20%);}
100% {display:none;opacity:0;transform:translateX(0%);}
}

/* 从右渐入 */
@keyframes from_right_in
{
0% {opacity:0;transform:translateX(20%);}
100% {opacity:1;transform:translateX(0%);}
}
@-moz-keyframes from_right_in /* Firefox */
{
0% {opacity:0;transform:translateX(20%);}
100% {opacity:1;transform:translateX(0%);}
}
@-webkit-keyframes from_right_in /* Safari and Chrome */
{
0% {opacity:0;transform:translateX(20%);}
100% {opacity:1;transform:translateX(0%);}
}
@-o-keyframes from_right_in /* Opera */
{
0% {opacity:0;transform:translateX(20%);}
100% {opacity:1;transform:translateX(0%);}
}