html, body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

input, button {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

.test {
  width: 300px;
}
.test p {
  color: red;
  padding: 20px;
}
.test h1 {
  font-size: 12px;
}
.test h2 {
  font-size: 14px;
}
.test h3 {
  font-size: 16px;
}
.test h4 {
  font-size: 18px;
}
.test h5 {
  font-size: 20px;
}
.test h6 {
  font-size: 22px;
}
.test a {
  color: red;
}
.test a:hover {
  color: #990000;
}
.test .triangle {
  width: 8px;
  height: 8px;
  display: block;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  transform: rotate(45deg);
}
.test .btn {
  padding: 5px 10px;
}
.test .btn.btn-danger {
  background: -moz-linear-gradient(top, #f50000 0%, #eb0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f50000), color-stop(100%, #eb0000));
  background: -webkit-linear-gradient(top, #f50000 0%, #eb0000 100%);
  background: -o-linear-gradient(top, #f50000 0%, #eb0000 100%);
  background: -ms-linear-gradient(top, #f50000 0%, #eb0000 100%);
}
.test .btn.btn-danger:hover {
  background: -moz-linear-gradient(top, #e00000 0%, #d60000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e00000), color-stop(100%, #d60000));
  background: -webkit-linear-gradient(top, #e00000 0%, #d60000 100%);
  background: -o-linear-gradient(top, #e00000 0%, #d60000 100%);
  background: -ms-linear-gradient(top, #e00000 0%, #d60000 100%);
}
.test .btn.btn-danger:active {
  background: -moz-linear-gradient(top, #db0000 0%, #eb0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #db0000), color-stop(100%, #eb0000));
  background: -webkit-linear-gradient(top, #db0000 0%, #eb0000 100%);
  background: -o-linear-gradient(top, #db0000 0%, #eb0000 100%);
  background: -ms-linear-gradient(top, #db0000 0%, #eb0000 100%);
}
.test .btn.btn-warning {
  background: -moz-linear-gradient(top, #f5f500 0%, #ebeb00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f500), color-stop(100%, #ebeb00));
  background: -webkit-linear-gradient(top, #f5f500 0%, #ebeb00 100%);
  background: -o-linear-gradient(top, #f5f500 0%, #ebeb00 100%);
  background: -ms-linear-gradient(top, #f5f500 0%, #ebeb00 100%);
}
.test .btn.btn-warning:hover {
  background: -moz-linear-gradient(top, #e0e000 0%, #d6d600 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e000), color-stop(100%, #d6d600));
  background: -webkit-linear-gradient(top, #e0e000 0%, #d6d600 100%);
  background: -o-linear-gradient(top, #e0e000 0%, #d6d600 100%);
  background: -ms-linear-gradient(top, #e0e000 0%, #d6d600 100%);
}
.test .btn.btn-warning:active {
  background: -moz-linear-gradient(top, #dbdb00 0%, #ebeb00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbdb00), color-stop(100%, #ebeb00));
  background: -webkit-linear-gradient(top, #dbdb00 0%, #ebeb00 100%);
  background: -o-linear-gradient(top, #dbdb00 0%, #ebeb00 100%);
  background: -ms-linear-gradient(top, #dbdb00 0%, #ebeb00 100%);
}
.test .btn.btn-success {
  background: -moz-linear-gradient(top, #007600 0%, #006c00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #007600), color-stop(100%, #006c00));
  background: -webkit-linear-gradient(top, #007600 0%, #006c00 100%);
  background: -o-linear-gradient(top, #007600 0%, #006c00 100%);
  background: -ms-linear-gradient(top, #007600 0%, #006c00 100%);
}
.test .btn.btn-success:hover {
  background: -moz-linear-gradient(top, #006100 0%, #005700 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006100), color-stop(100%, #005700));
  background: -webkit-linear-gradient(top, #006100 0%, #005700 100%);
  background: -o-linear-gradient(top, #006100 0%, #005700 100%);
  background: -ms-linear-gradient(top, #006100 0%, #005700 100%);
}
.test .btn.btn-success:active {
  background: -moz-linear-gradient(top, #005c00 0%, #006c00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #005c00), color-stop(100%, #006c00));
  background: -webkit-linear-gradient(top, #005c00 0%, #006c00 100%);
  background: -o-linear-gradient(top, #005c00 0%, #006c00 100%);
  background: -ms-linear-gradient(top, #005c00 0%, #006c00 100%);
}

.page {
  margin-top: 10px;
  position: relative;
}
.page span {
  padding: 4px 8px;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #ebebeb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #ebebeb));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #ebebeb 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #ebebeb 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #ebebeb 100%);
  border: 1px solid #ccc;
  color: #999;
  margin: 0px 10px;
  cursor: pointer;
  transition: all .3s;
}
.page .active {
  padding: 4px 8px;
  background: -moz-linear-gradient(top, black 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, black));
  background: -webkit-linear-gradient(top, black 0%, black 100%);
  background: -o-linear-gradient(top, black 0%, black 100%);
  background: -ms-linear-gradient(top, black 0%, black 100%);
  border: 1px solid #fff;
  color: #fff;
  margin: 0px 10px;
  cursor: pointer;
}
.page .current:hover {
  padding: 4px 8px;
  background: -moz-linear-gradient(top, #616161 0%, #575757 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #616161), color-stop(100%, #575757));
  background: -webkit-linear-gradient(top, #616161 0%, #575757 100%);
  background: -o-linear-gradient(top, #616161 0%, #575757 100%);
  background: -ms-linear-gradient(top, #616161 0%, #575757 100%);
  border: 1px solid #eee;
  color: #fff;
  margin: 0px 10px;
  cursor: pointer;
}
.page .default:hover {
  padding: 4px 8px;
  background: -moz-linear-gradient(top, #616161 0%, #575757 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #616161), color-stop(100%, #575757));
  background: -webkit-linear-gradient(top, #616161 0%, #575757 100%);
  background: -o-linear-gradient(top, #616161 0%, #575757 100%);
  background: -ms-linear-gradient(top, #616161 0%, #575757 100%);
  border: 1px solid #eee;
  color: #fff;
  margin: 0px 10px;
  cursor: pointer;
}
.page .default:active {
  padding: 4px 8px;
  background: -moz-linear-gradient(top, #525252 0%, #404040 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #525252), color-stop(100%, #404040));
  background: -webkit-linear-gradient(top, #525252 0%, #404040 100%);
  background: -o-linear-gradient(top, #525252 0%, #404040 100%);
  background: -ms-linear-gradient(top, #525252 0%, #404040 100%);
  border: 1px solid #eee;
  color: #eee;
  margin: 0px 10px;
  cursor: pointer;
}

.toushi {
  width: 400px;
  height: 268px;
  float: right;
  background: #ccc;
  position: relative;
}
.toushi span {
  width: 100px;
  height: 100px;
  position: absolute;
  color: #333;
  background: #fff;
  border: 1px solid #666;
  font-size: 24px;
  text-align: center;
  line-height: 100px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

/*# sourceMappingURL=index.css.map */
